* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
	background-color: #eaeded;
}

input[type=number]{
    width: 200px;
} 



#header{
  position:absolute;
  font-size: 20px;
  top:0px;
  left:0px;
  height:30px;
  right:0px;
  overflow:hidden;
  background-color: #d6dbdf;
  width: 100%;
  border-bottom: 1px dotted black;
  text-align:center;
  line-height:30px;
}
#content{
  position:absolute;
  top:31px;
  bottom:21px;
  left:0px;
  right:0px;
  overflow:auto;
  background-color: #eaeded;
  margin-left: auto; 
  margin-right: auto;
  min-width:400px;
  max-width:600px;
}
#footer{
  position:absolute;
  font-size: 10px;
  bottom:0px;
  height:20px;
  left:0px;
  right:0px;
  overflow:hidden;
  width: 100%;
  background-color: #d6dbdf;
  border-top: 1px dotted black;
  text-align:center;
  line-height:20px;
}

#run #setting1 #settings2{
	background-color: #eaeded;
	}

 #ventil1{
    float:left;
    width:50%;
	}

#ventil2{
    float:left;
    width:50%;
	}